.buttons c {
  color: green;
  background-color: none;
  text-decoration: none;
  font-size: 14px;
}
.buttons c:hover {
  cursor:pointer; 
  font-size: 14px;
  color: green;
  background-color: khaki;
  text-decoration: underline;
}

